.istem-about-box {
    .group_4 {
        height: 1883px;

        .box_4 {
            height: 399px;
            background: url(../../assets/images/de852f0f31df782176f9d97d0bb7aafd.png) 100% no-repeat;
            background-size: 100% 100%;

            .text-wrapper_2 {
                width: 540px;
                height: 138px;
                margin: 131px auto 0;

                .text_11 {
                    width: 198px;
                    height: 44px;
                    overflow-wrap: break-word;
                    color: rgba(87, 80, 158, 1);
                    font-size: 48px;
                    letter-spacing: 1.5px;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 42px;
                }

                .text_12 {
                    width: 540px;
                    height: 72px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 24px;
                    letter-spacing: 1px;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    line-height: 36px;
                    margin-top: 22px;
                }
            }

            .image_1 {
                width: 696px;
                height: 331px;
                margin: 68px 244px 0 85px;
            }
        }

        .text-wrapper_3 {
            width: 156px;
            height: 50px;
            overflow-wrap: break-word;
            font-size: 0;
            font-family: PingFangSC-Semibold;
            font-weight: 600;
            text-align: right;
            white-space: nowrap;
            line-height: 50px;
            margin: 38px auto 0;

            .text_13 {
                width: 156px;
                height: 50px;
                overflow-wrap: break-word;
                color: rgba(255, 95, 47, 1);
                font-size: 36px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 50px;
            }

            .text_14 {
                width: 156px;
                height: 50px;
                overflow-wrap: break-word;
                color: rgba(255, 95, 47, 1);
                font-size: 36px;
                font-family: Arial-BoldMT;
                font-weight: normal;
                text-align: left;
                white-space: nowrap;
                line-height: 50px;
            }
        }

        .box_5 {
            width: 860px;
            height: 240px;
            margin: 35px auto 0;

            .group_5 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;

                .block_1 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/ba082e9a2c597da73c0641a4902a238f.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text-group_1 {
                    width: 112px;
                    height: 42px;
                    margin: 22px auto 0 ;
                    align-items: center;

                    .text_15 {
                        width: 32px;
                        height: 17px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 16px;
                        font-family: Arial-BoldMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 18px;
                        
                    }

                    .text_16 {
                        width: 112px;
                        height: 21px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 21px;
                        margin-top: 4px;
                    }
                }
            }

            .group_6 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .section_1 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/fa11d45a12863ead659a96369fe8ba63.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_17 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_18 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .group_7 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .block_2 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/0247537224c37d4689a24b06b120410e.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_19 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_20 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .group_8 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .section_2 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/55a7b7094655149b2f03ad2206c3b4ad.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_21 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_22 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }
        }

        .text_23 {
            width: 72px;
            height: 50px;
            overflow-wrap: break-word;
            color: rgba(255, 95, 47, 1);
            font-size: 36px;
            font-family: PingFangSC-Semibold;
            font-weight: 600;
            text-align: right;
            white-space: nowrap;
            line-height: 50px;
            margin: 35px auto 0;
        }

        .box_6 {
            width: 860px;
            height: 240px;
            margin: 35px auto 0;

            .box_7 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;

                .block_3 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/969c81bb6fc68c4732ee730285445aa4.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text-group_2 {
                    width: 112px;
                    height: 42px;
                    margin: 22px auto 0 ;
                    align-items: center;

                    .text_24 {
                        width: 32px;
                        height: 17px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 16px;
                        font-family: Arial-BoldMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 18px;
                        
                    }

                    .text_25 {
                        width: 112px;
                        height: 21px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 21px;
                        margin-top: 4px;
                    }
                }
            }

            .box_8 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .group_9 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/8f1ec783f42ef58ad1d262f6e5bc8b67.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_26 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_27 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .box_9 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .section_3 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/fac614064f493fbbdc18448f8719c7b6.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_28 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_29 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .box_10 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .block_4 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/1b6b0ac4459dacfce80510c83ff3c7b8.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_30 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_31 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }
        }

        .text-wrapper_4 {
            width: 156px;
            height: 50px;
            overflow-wrap: break-word;
            font-size: 0;
            font-family: Arial-BoldMT;
            font-weight: normal;
            text-align: right;
            white-space: nowrap;
            line-height: 42px;
            margin: 35px auto 0;

            .text_32 {
                width: 156px;
                height: 50px;
                overflow-wrap: break-word;
                color: rgba(255, 95, 47, 1);
                font-size: 36px;
                font-family: Arial-BoldMT;
                font-weight: normal;
                text-align: left;
                white-space: nowrap;
                line-height: 42px;
            }

            .text_33 {
                width: 156px;
                height: 50px;
                overflow-wrap: break-word;
                color: rgba(255, 95, 47, 1);
                font-size: 36px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 42px;
            }
        }

        .box_11 {
            width: 860px;
            height: 240px;
            margin: 35px auto 0;

            .section_4 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;

                .block_5 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/0f4ddef62026e06ba41aa404f25e357c.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text-group_3 {
                    width: 112px;
                    height: 42px;
                    margin: 22px auto 0 ;
                    align-items: center;

                    .text_34 {
                        width: 28px;
                        height: 17px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 16px;
                        font-family: Arial-BoldMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 18px;
                        
                    }

                    .text_35 {
                        width: 112px;
                        height: 21px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 21px;
                        margin-top: 4px;
                    }
                }
            }

            .section_5 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .box_12 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/a934ead2551cb5d8b9f0a84c242a29c1.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_36 {
                    width: 20px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 91px;
                }

                .text_37 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .section_6 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .box_13 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/96dd983fcd2954c2aedf2ab9010571d0.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_38 {
                    width: 24px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 89px;
                }

                .text_39 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .section_7 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .group_10 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/bbd3d0d5105c05bad09020d87b85910c.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_40 {
                    width: 20px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 91px;
                }

                .text_41 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }
        }

        .list_1 {
            width: 860px;
            height: 240px;
            justify-content: space-between;
            margin: 20px auto 0;

            .list-items_1-0 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-right: 20px;

                .box_14-0 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/bfdb971208f94d7ed607078739726af7.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                    background: url(../../assets/images/bfdb971208f94d7ed607078739726af7.png);
                }

                .text-group_4-0 {
                    width: 112px;
                    height: 42px;
                    margin: 22px auto 0 ;
                    align-items: center;

                    .text_44-0 {
                        width: 20px;
                        height: 17px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 16px;
                        font-family: Arial-BoldMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 18px;
                        
                    }

                    .text_45-0 {
                        width: 112px;
                        height: 21px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 21px;
                        margin-top: 4px;
                    }
                }
            }

            .list-items_1-1 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-right: 20px;

                .box_14-1 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/bfdb971208f94d7ed607078739726af7.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                    background: url(../../assets/images/e37f3e2140da0e1d3c60d74f6a31506c.png);
                }

                .text_42-1 {
                    width: 24px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 89px;
                }

                .text_43-1 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .list-items_1-2 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-right: 20px;

                .box_14-2 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/bfdb971208f94d7ed607078739726af7.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                    background: url(../../assets/images/f44e550aa8a83a496838be143b8dbdfb.png);
                }

                .text_42-2 {
                    width: 24px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 89px;
                }

                .text_43-2 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .list-items_1-3 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-right: 20px;

                .box_14-3 {
                    border-radius: 50px;
                    background-image: url(../../assets/images/bfdb971208f94d7ed607078739726af7.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                    background: url(../../assets/images/9d0aa4bba799b95aa48ac80d4f8f854f.png);
                }

                .text_42-3 {
                    width: 24px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 89px;
                }

                .text_43-3 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }
        }
    }
}