.istem-about-box {
    .group_4 {
        height: 1883px;

        .box_4 {
            height: 399px;
            background: url(https://lanhu-oss.lanhuapp.com/SketchPnga6612094d5e5fb5e713b7564efbb20d154caf39a2c47dcdbb5dcabb0a27012fa) 100% no-repeat;
            background-size: 100% 100%;

            .text-wrapper_2 {
                width: 540px;
                height: 138px;
                margin: 131px auto 0;

                .text_11 {
                    width: 198px;
                    height: 44px;
                    overflow-wrap: break-word;
                    color: rgba(87, 80, 158, 1);
                    font-size: 48px;
                    letter-spacing: 1.5px;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 42px;
                }

                .text_12 {
                    width: 540px;
                    height: 72px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 24px;
                    letter-spacing: 1px;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    line-height: 36px;
                    margin-top: 22px;
                }
            }

            .image_1 {
                width: 696px;
                height: 331px;
                margin: 68px 244px 0 85px;
            }
        }

        .text-wrapper_3 {
            width: 156px;
            height: 50px;
            overflow-wrap: break-word;
            font-size: 0;
            font-family: PingFangSC-Semibold;
            font-weight: 600;
            text-align: right;
            white-space: nowrap;
            line-height: 50px;
            margin: 38px auto 0;

            .text_13 {
                width: 156px;
                height: 50px;
                overflow-wrap: break-word;
                color: rgba(255, 95, 47, 1);
                font-size: 36px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 50px;
            }

            .text_14 {
                width: 156px;
                height: 50px;
                overflow-wrap: break-word;
                color: rgba(255, 95, 47, 1);
                font-size: 36px;
                font-family: Arial-BoldMT;
                font-weight: normal;
                text-align: left;
                white-space: nowrap;
                line-height: 50px;
            }
        }

        .box_5 {
            width: 860px;
            height: 240px;
            margin: 35px auto 0;

            .group_5 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;

                .block_1 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/2141e868076b448cb664cf7705b24efd_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text-group_1 {
                    width: 112px;
                    height: 42px;
                    margin: 22px auto 0 ;
                    align-items: center;

                    .text_15 {
                        width: 32px;
                        height: 17px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 16px;
                        font-family: Arial-BoldMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 18px;
                        
                    }

                    .text_16 {
                        width: 112px;
                        height: 21px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 21px;
                        margin-top: 4px;
                    }
                }
            }

            .group_6 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .section_1 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/6229a2356edb4672973b707149c8e806_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_17 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_18 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .group_7 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .block_2 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/aa51cc4aa4874516900298968e24638b_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_19 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_20 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .group_8 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .section_2 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/f9d44598575240a2b3d4667b271755d6_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_21 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_22 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }
        }

        .text_23 {
            width: 72px;
            height: 50px;
            overflow-wrap: break-word;
            color: rgba(255, 95, 47, 1);
            font-size: 36px;
            font-family: PingFangSC-Semibold;
            font-weight: 600;
            text-align: right;
            white-space: nowrap;
            line-height: 50px;
            margin: 35px auto 0;
        }

        .box_6 {
            width: 860px;
            height: 240px;
            margin: 35px auto 0;

            .box_7 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;

                .block_3 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/ee494d8aec8b4fd5895b312cca468a7f_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text-group_2 {
                    width: 112px;
                    height: 42px;
                    margin: 22px auto 0 ;
                    align-items: center;

                    .text_24 {
                        width: 32px;
                        height: 17px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 16px;
                        font-family: Arial-BoldMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 18px;
                        
                    }

                    .text_25 {
                        width: 112px;
                        height: 21px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 21px;
                        margin-top: 4px;
                    }
                }
            }

            .box_8 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .group_9 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/35f85027c169491f9ae0328c59267018_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_26 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_27 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .box_9 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .section_3 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/48822704064040789f6df1b0fdad78e2_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_28 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_29 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .box_10 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .block_4 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/2d66c3f52dce4c8280b3f2904ccbd67a_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_30 {
                    width: 32px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 85px;
                }

                .text_31 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }
        }

        .text-wrapper_4 {
            width: 156px;
            height: 50px;
            overflow-wrap: break-word;
            font-size: 0;
            font-family: Arial-BoldMT;
            font-weight: normal;
            text-align: right;
            white-space: nowrap;
            line-height: 42px;
            margin: 35px auto 0;

            .text_32 {
                width: 156px;
                height: 50px;
                overflow-wrap: break-word;
                color: rgba(255, 95, 47, 1);
                font-size: 36px;
                font-family: Arial-BoldMT;
                font-weight: normal;
                text-align: left;
                white-space: nowrap;
                line-height: 42px;
            }

            .text_33 {
                width: 156px;
                height: 50px;
                overflow-wrap: break-word;
                color: rgba(255, 95, 47, 1);
                font-size: 36px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 42px;
            }
        }

        .box_11 {
            width: 860px;
            height: 240px;
            margin: 35px auto 0;

            .section_4 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;

                .block_5 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/a32deb2f81194571b7aa9687357418c2_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text-group_3 {
                    width: 112px;
                    height: 42px;
                    margin: 22px auto 0 ;
                    align-items: center;

                    .text_34 {
                        width: 28px;
                        height: 17px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 16px;
                        font-family: Arial-BoldMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 18px;
                        
                    }

                    .text_35 {
                        width: 112px;
                        height: 21px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 21px;
                        margin-top: 4px;
                    }
                }
            }

            .section_5 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .box_12 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/f1b755f78fab42a68f2d94f789a62828_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_36 {
                    width: 20px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 91px;
                }

                .text_37 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .section_6 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .box_13 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/2ceb0997586549b8950e6711cd4c5e7c_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_38 {
                    width: 24px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 89px;
                }

                .text_39 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .section_7 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-left: 20px;

                .group_10 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/ea6f9a9f4a1e4bba8592dc665afcc3bb_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                }

                .text_40 {
                    width: 20px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 91px;
                }

                .text_41 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }
        }

        .list_1 {
            width: 860px;
            height: 240px;
            justify-content: space-between;
            margin: 20px auto 0;

            .list-items_1-0 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-right: 20px;

                .box_14-0 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/41eae3a4588b449689e5ecba030407a3_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                    background: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/41eae3a4588b449689e5ecba030407a3_mergeImage.png);
                }

                .text-group_4-0 {
                    width: 112px;
                    height: 42px;
                    margin: 22px auto 0 ;
                    align-items: center;

                    .text_44-0 {
                        width: 20px;
                        height: 17px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 16px;
                        font-family: Arial-BoldMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 18px;
                        
                    }

                    .text_45-0 {
                        width: 112px;
                        height: 21px;
                        overflow-wrap: break-word;
                        color: rgba(86, 98, 122, 1);
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: normal;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 21px;
                        margin-top: 4px;
                    }
                }
            }

            .list-items_1-1 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-right: 20px;

                .box_14-1 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/41eae3a4588b449689e5ecba030407a3_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                    background: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/0284b63986f84eb1814f4e68c390cbfb_mergeImage.png);
                }

                .text_42-1 {
                    width: 24px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 89px;
                }

                .text_43-1 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .list-items_1-2 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-right: 20px;

                .box_14-2 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/41eae3a4588b449689e5ecba030407a3_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                    background: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/73dca3bb86d842ffa90133069c81982c_mergeImage.png);
                }

                .text_42-2 {
                    width: 24px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 89px;
                }

                .text_43-2 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }

            .list-items_1-3 {
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 16px;
                width: 200px;
                height: 240px;
                margin-right: 20px;

                .box_14-3 {
                    border-radius: 50px;
                    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/41eae3a4588b449689e5ecba030407a3_mergeImage.png);
                    width: 100px;
                    height: 100px;
                    border: 3px solid rgba(193, 218, 219, 1);
                    margin: 36px 0 0 50px;
                    background: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/5733be1da37c49b0b0976650fc6adae6_mergeImage.png);
                }

                .text_42-3 {
                    width: 24px;
                    height: 17px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 16px;
                    font-family: Arial-BoldMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 18px;
                    margin: 22px 0 0 89px;
                }

                .text_43-3 {
                    width: 52px;
                    height: 21px;
                    overflow-wrap: break-word;
                    color: rgba(86, 98, 122, 1);
                    font-size: 12px;
                    font-family: ArialMT;
                    font-weight: normal;
                    text-align: right;
                    white-space: nowrap;
                    line-height: 21px;
                    margin: 4px auto 0;
                }
            }
        }
    }
}