.chapter-editor-container {
  margin-bottom: 24px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 16px;
  background-color: #fafafa;

  .chapter-editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #d9d9d9;

    span {
      font-weight: 500;
      font-size: 16px;
    }
  }

  .editor-container {
    background-color: white;
    border-radius: 4px;
  }
}

.ant-collapse-content-box {
  padding-bottom: 16px !important;
}