.istem-header-box {

  .section_9 {
    background-color: rgba(255, 255, 255, 1);
    height: 60px;
  }

  .box_14 {
    width: 1495px;
  }

  .label_9 {
    width: 36px;
    height: 29px;
    margin-top: 4px;
  }

  .text_18 {
    width: 148px;
    height: 36px;
    overflow-wrap: break-word;
    color: rgba(255, 95, 47, 1);
    font-size: 32px;
    font-family: Arial-Black;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 36px;
    margin-left: 9px;
  }

  .text_19 {
    width: 32px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(255, 95, 47, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Bold;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 9px 0 0 246px;
  }

  .text_20 {
    width: 64px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(50, 62, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 12px 0 0 77px;
  }

  .text_21 {
    width: 32px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(50, 62, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 12px 0 0 76px;
  }

  .text_22 {
    width: 64px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(50, 62, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 12px 0 0 77px;
  }

  .text_23 {
    width: 64px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(50, 62, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 12px 0 0 77px;
  }

  .text_24 {
    width: 64px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(50, 62, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 11px 0 0 77px;
  }

  .text_25 {
    width: 71px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(50, 62, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 12px 0 0 76px;
  }

  .thumbnail_4 {
    width: 16px;
    height: 16px;
    margin: 11px 0 0 77px;
  }

  .text-wrapper_3 {
    width: 107px;
    height: 16px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 11px 0 0 5px;
  }

  .text_26 {
    width: 107px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(154, 167, 174, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
  }

  .text_27 {
    width: 107px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(50, 62, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
  }

  .box_15 {
    width: 70px;
    height: 6px;
    margin: 7px 0 0 626px;
  }

  .section_10 {
    background-color: rgba(255, 95, 47, 1);
    width: 70px;
    height: 6px;
  }
}