.istem-footer-box {

  .section_15 {
    position: absolute;
    left: 0;
    top: 2004px;
    width: 1920px;
    height: 318px;
    background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPng351ba8420c15ac8a43987169dba421f3c0bb642353c44147a33d6e25fd2aee19) 100% no-repeat;
    background-size: 100% 100%;
  }

  .block_11 {
    width: 994px;
    height: 186px;
    margin: 74px 0 0 159px;
  }

  .group_13 {
    width: 990px;
    height: 75px;
    margin-left: 4px;
  }

  .image-text_11 {
    width: 239px;
    height: 40px;
  }

  .image-wrapper_3 {
    height: 32px;
    background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPngb3a754f80d9b3e11493ba40576d739220e474d1460661b1c3b374bfdf84154d2) 0px 0px no-repeat;
    background-size: 32px 33px;
    margin-top: 4px;
    width: 31px;
    position: relative;
  }

  .thumbnail_5 {
    width: 10px;
    height: 6px;
    margin: 7px 0 0 10px;
  }

  .image_10 {
    position: absolute;
    left: -4px;
    top: 16px;
    width: 40px;
    height: 8px;
  }

  .text-group_8 {
    width: 192px;
    height: 40px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    letter-spacing: 4.44444465637207px;
    font-family: SourceHanSansCN-Bold;
    font-weight: 700;
    text-align: justify;
    white-space: nowrap;
    line-height: 60px;
  }

  .section_16 {
    background-color: rgba(85, 168, 2, 1);
    border-radius: 54px;
    width: 40px;
    height: 40px;
    margin-top: 35px;
  }

  .text-wrapper_4 {
    height: 129px;
    background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPng6b6bd6906dd9ee2f114a6a0e53909a71ebff51579d64be3e275df51c51d2d401) 0px 0px no-repeat;
    background-size: 974px 130px;
    margin-top: -18px;
    width: 974px;
  }

  .text_28 {
    width: 522px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    letter-spacing: 2px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    text-align: justify;
    white-space: nowrap;
    line-height: 24px;
    margin: 18px 0 0 31px;
  }

  .image_11 {
    width: 148px;
    height: 87px;
    margin: 98px 0 0 90px;
  }

  .image_12 {
    width: 142px;
    height: 44px;
    margin: 139px 0 0 42px;
  }

  .block_12 {
    width: 180px;
    height: 93px;
    margin: 133px 133px 0 32px;
  }

  .image_13 {
    width: 180px;
    height: 45px;
  }

  .image-wrapper_4 {
    width: 120px;
    height: 24px;
    margin: 24px 0 0 60px;
  }

  .label_11 {
    width: 24px;
    height: 24px;
  }

  .label_12 {
    width: 22px;
    height: 22px;
    margin: 1px 0 0 8px;
  }

  .label_13 {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }

  .label_14 {
    width: 24px;
    height: 21px;
    margin-left: 10px;
  }
}